body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



:root {
  --default-blue: #1D4C6C;
  --shadow-blue: #0D3149;
  --form-light: #FFFEFE;
  --main-background: #EEEBEB;
  --font-default: "Montserrat", sans-serif;
  --form-body: #D9D9D9;

}